<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/loginStyles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="js/scriptLogin.js"></script>
    <title>Iniciar Sesión</title>
</head>

<body>
    <header>
        <div class="top-header">
            <img class="logo" src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
            <div class="form">
                <form action="#" method="GET">
                   <input type="busqueda" placeholder="Buscar productos, marcas y más">
                    <button><i class="fa fa-search"></i></button>
                </form>
            </div>
            <h2 class="copy-header">
                <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        <div class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="register">Creá tu cuenta</a><i class="fa-regular fa-id-card"></i></li>
                <li><a href="login">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="#">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>

            </ul>
        </div>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <main>
        <div class="contenedor-principal">
            <div>
                <h3>Bienvenid@</h3>
            </div>


            <form action="/" method="GET" class="formulario-login">

                <input type="text" id="usuario" name="nombre_usuario" placeholder="Usuario o email">
                <span class="error" id="error_usuario"></span>

                <input type="password" id="contrasenia" name="contrasenia" placeholder="Contraseña">
                <span class="error" id="error_contrasenia"></span>
                <button type="submit">Iniciar Sesión</button>
            </form>
        </div>
    </main>
    <footer>

        <div>
            <div class="elemento-footer">
                <div class="icon"><i class="fa-solid fa-credit-card"></i></div>
                <div class="title">Pagá con tarjeta o en efectivo</div>
                <div class="description">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo
                    en puntos de pago. ¡Y siempre es seguro!</div>
            </div>



            <div class="elemento-footer">
                <div class="icon"><i class="fa-solid fa-gift"></i></div>
                <div class="title">Envío gratis desde $ 2.500</div>
                <div class="description">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles
                    de productos. Es un beneficio de Mercado Puntos.</div>
            </div>
            <div class="elemento-footer">
                <div class="icon"><i class="fa-solid fa-user-shield"></i></div>
                <div class="title">Seguridad de principio a fin</div>
                <div class="description">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
                    hacer, porque estás siempre protegid@.</div>

            </div>
        </div>

        <div>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>

</html>