<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/registerStyles.css">
    <script src="js/scriptRegister.js"></script>
    <title>Registro de Usuario</title>
</head>

<body>
    <header>
        <div>
            <img class="logo" src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
        </div>
    </header>
    <main>
        <div class="contenedor-principal">
            <h3>Registro de Usuario</h3>

            <!-- <form action="/" method="post" enctype="multipart/form-data"> -->
            <form action="/" method="POST">

                <div>
                    <!--<input type="text" id="nombre" name="nombre" required>-->
                    <input type="text" id="nombre" name="nombre" placeholder="Nombre y Apellido">
                    <span class="error" id="error_nombre"></span>

                </div>
                <div>
                    <input type="text" id="nombre_usuario" name="nombre_usuario" placeholder="Nombre de usuario">
                    <span class="error" id="error_nombre_usuario"></span>
                </div>
                <div>
                    <input type="email" id="email" name="email" placeholder="Email">
                </div>
                <div class="fecha-nacimiento">
                    <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
                    <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" placeholder="Fecha de Nacimiento">
                </div>
                <div>

                    <input type="text" id="domicilio" name="domicilio" placeholder="Domicilio">
                </div>
                <div class="perfil-usuario">
                    <label for="perfil">Perfil del usuario:</label>
                    <select id="perfil" name="perfil">
                        <option value="comprar">Comprar</option>
                        <option value="vender">Vender</option>
                    </select>
                </div>
                <div class="intereses">
                    <label class="intereses-titulo">Intereses:</label>
                    <div class="intereses-individual">
                        <div>
                            <label for="electro">Electro</label>
                            <input type="checkbox" id="electro" name="categorias[]" value="electro">
                        </div>

                        <div>
                            <label for="moda">Moda</label>
                            <input type="checkbox" id="moda" name="categorias[]" value="moda">
                        </div>

                        <div>
                            <label for="hogar">Hogar</label>
                            <input type="checkbox" id="hogar" name="categorias[]" value="hogar">
                        </div>

                        <div>
                            <label for="jugueteria">Juguetería</label>
                            <input type="checkbox" id="jugueteria" name="categorias[]" value="jugueteria">
                        </div>

                        <div>
                            <label for="vida_sana">Vida Sana</label>
                            <input type="checkbox" id="vida_sana" name="categorias[]" value="vida_sana">
                        </div>

                    </div>
                </div>
                <div class="foto-usuario">
                    <label for="foto_usuario">Foto de usuario:</label>
                    <input type="file" id="foto_usuario" name="foto_usuario" accept="image/*">

                </div>
                <div>
                    <input type="password" id="password" name="password" placeholder="Contraseña">
                    <span class="error" id="error_password"></span>
                </div>
                <div>
                    <input type="password" id="confirm_password" name="confirm_password"
                        placeholder="Confirmar Contraseña">
                    <span class="error" id="error_confirm_password"></span>

                </div>
                <div class="botones">
                    <button type="submit" action="/">Enviar</button>
                    <button type="reset">Borrar datos</button>
                </div>


        </div>
        </form>
        </div>
    </main>
    <!--<footer>
        <div>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>-->
</body>

</html>