* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
p{
    font-weight: bold;
}
h3 {
  font-size: 24px;
  color: #666;
}

.error {
    color: red;
}
body {
  background-color: #ebebeb;
  font-family: "Roboto", sans-serif;
}
header {
    background-color: #eac926;
    padding: 20px;
  }
  
  .logo {
    width: 100px;
  }
  
  .top-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .top-header h2 {
    font-size: 14px;
    margin-top: 15px;
    text-align: center;
  }
  

  
  section.banner img {
    width: 100%;
  }
  
  .main-navbar {
    display: none;
    padding: 0;
    margin-top: 25px;
  }
  
  .main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
  
  }
  .burger-menu {
    text-align: center;
  }
  .burger-menu i {
    background-color: #03264c;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    margin: 20px 0px 20px 0px;
    padding: 10px;
    width: 40px;
  }
body{
    font-family: 'ROBOTO', sans-serif;
    background-color: #ebebeb;
}
.contenedor-principal{
    text-align: center;
    margin-top: 10px;
    margin-left: 9%;
}
.contenedor-principal h3{
    text-align: center;
    
}
.contenedor-principal div{
    width: 90%;
    margin-top: 10px;

}

.contenedor-principal div input{
    width: 90%;
    text-align: center;   
    font-style: italic;
}
.fecha-nacimiento label{
    font-weight: bold;
}
.foto-usuario label{
    font-weight: bold;
}
.perfil-usuario{
    display: flex;

}
.perfil-usuario select{
    margin-left: 25px;
}
.perfil-usuario label{
    font-weight: bold;
}
.intereses{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.intereses-titulo{
    font-weight: bold;
}

.intereses label{
    text-align: left;
    
}
.intereses-individual{

    width: 100%;
    border: solid 1 orange;

}
.intereses-individual div{
    display: flex;
}
.intereses-individual div label{
    align-items: left;
    width: 50%;
}
.intereses-individual div input{
    width: 15%;
}
.botones{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.botones button{
    width: 40%;
    background-color: #0044AA;
    border: solid 1px #0044AA;
    color: white;
    border-radius: 5px;
    cursor: pointer;

}
.fecha-nacimiento label{
    display: flex;
}

footer {
  background-color: white;
}

footer div {
  text-align: center;
  padding: 5px;
}

footer div .icon {
  font-size: 2em;
  color: #1259c3;
}

footer div .title {
  font-weight: bold;
  font-size: 1.5em;
  color: #666;
}

footer div .description {
  font-size: 1em;
  color: #666;
}



@media (min-width: 361px) {
    .logo{
        width: 250px;
    }
    .top-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
    }
  
    .form {
      display: flex;
      max-width: 140px;
      overflow: hidden;
    }
  
    .form .input {
      width: 90px;
    }
  
    .logo {
      width: 100px;
    }
  
    .top-header h2 {
      font-size: 14px;
      margin-top: 15px;
      text-align: right;
    }
  
    .copy-header {
      max-width: 100px;
      text-align: right;
    }
  
    .main-navbar {
  
      display: flex;
      justify-content: space-between;
    }
  
    .main-navbar ul {
      display: flex;
    }
  
    .main-navbar li {
      margin: 0 5px;
      font-size: 12px;
    }
  

  
    .burger-menu {
      display: none;
    }
  }
  @media (min-width: 769px) {
    main section div.productos article {
      width: 22%;
    }
  
    .top-header {
      display: flex;
      justify-content: space-between;
  
    }
  
    .form {
      display: flex;
      max-width: 200px;
      overflow: hidden;
    }
  
    .form .input {
      width: 150px;
    }
  
    .logo {
      width: 180px;
    }
  
    .top-header h2 {
      font-size: 14px;
      margin-top: 15px;
      text-align: right;
    }
  
    .copy-header {
      max-width: 325px;
      text-align: right;
    }
  
    .main-navbar {
      display: flex;
      justify-content: space-between;
    }
  
    .main-navbar ul {
      display: flex;
    }
  
    .main-navbar li {
      margin: 0 5px;
    }
   
    .burger-menu {
      display: none;
    }
    footer div{
      display: flex;
    }
    .elemento-footer{
      display: flex;
      flex-direction: column;
    }
    .elemento-footer .title{
      justify-content: center;
    }
    
    .elemento-footer .icon{
      justify-content: center;
      font-size: 1.5em;
      transition: color 500ms;
    }
    .elemento-footer .icon:hover{
      color:  #39b54a;
    }
    
  }
  label {
    display: block;
    margin-bottom: 8px;
  }